main {
    background-color: green;
    width: 1200px;
    margin: auto;
}

header {
    background-color: yellow;
}

nav {
    float: left;
    width: 30%;
}

article {
    float: left;
    width: 70%;
    background-color: gray;
}

footer {
    clear: both;
    background-color: blue;
    height: 40px;
}

li {
    list-style: none;
}